@import "tailwindcss";
@source "../views";

@plugin "daisyui/theme" {
    name: "sunset";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(12% 0.042 264.695);
    --color-base-200: oklch(20% 0.042 265.755);
    --color-base-300: oklch(27% 0.041 260.031);
    --color-base-content: oklch(96% 0.007 247.896);
    --color-primary: oklch(58% 0.158 241.966);
    --color-primary-content: oklch(97% 0.013 236.62);
    --color-secondary: oklch(55% 0.288 302.321);
    --color-secondary-content: oklch(97% 0.014 308.299);
    --color-accent: oklch(66% 0.179 58.318);
    --color-accent-content: oklch(98% 0.022 95.277);
    --color-neutral: oklch(37% 0.044 257.287);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(59% 0.145 163.225);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0.5rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
  }  
@plugin "daisyui";